.change{
    border-radius: 1px;
    background-color: white;
}
.line{
    width: 250px;
    margin-left: 1px;
    margin-top: -10px;
}
.france{
    font-family: 'Linux Libertine','Georgia','Times',serif;
}
.line2{
    width: 900px;
    margin-left: -0px;
}
.line3{
    width: 900px;
    margin-left: -0px;
    margin-top: 23px;
}
div{
    font-size: 14px;
}